<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" href=""> Blog do Igor </a>

  <ul class="navbar-nav" style="margin-right: auto ;">
    <a class="nav-link" href="/">Home</a>
  </ul>
</nav>
