<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand"> Blog do Igor </a>

  <ul class="navbar-nav" style="margin-right: auto ;">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/articles">Artigos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/users/create">Criar usuário</a>
    </li>
    

  </ul>

  <ul class="navbar-nav" style="margin-left: auto ;">
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>