<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="">
        Blog do Igor
    </a>

    <ul class="navbar-nav" style="margin-right: auto;">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>