<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
    <body>
        <div class="container">
            <hr>
            <div class="card mt-4">
                <div class="card-header">
                    Criação de usuário
                </div>
                <div class="card-body">
                    <form action="/users/create" method="post">
                        <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                        <input class="form-control" name="password" type="password" placeholder="********"><br>
                        <button type="submit" class="btn btn-success col-12">Criar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
<%- include("../../partials/footer.ejs") %>